body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    background: #1f2937;
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.header a {
    color: #f9faf8;
    font-size: 24px;
}

.header ul {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.header ul li {
    list-style-type: none;
    justify-content: center;
    color: #e5e7eb;
    font-size: 18px;
}

.top {
    background: #1f2937;
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top div {
    color: #f9faf8;
}

.top .awesome {
    font-size: 48px;
    font-weight: 800;
}

.top button {
    background-color: blue;
    border-radius: 10px;
}

.inf_section {
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inf_section .informations {
    display: flex;
    gap: 16px;
}

.quote {
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ad {
    flex: 4;
    display: flex;
    justify-content: center;
}

.buttom {
    flex: 1;
    display: flex;
    justify-content: center;
}